.headline {
    background-color: whitesmoke;
    height: 100px;
    margin: 100px 100px 10px 100px;
}
.headline h1 {
    font-family: 'Niconne';
    font-size: 70px;
    padding: 5px;
}
.instructor img {
    border: 5px solid whitesmoke;
    height: 350px;
    margin: 25px;
    width: 75%;
}
.chessboard h3 {
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 530px) {
    .headline {
        margin: 100px 50px 10px 50px;
    }
    .instructor img {
        height: 250px;
    }
}
@media (max-width: 430px) {
    .headline {
        height: 70px;
    }
    .headline h1 {
        font-size: 50px;
    }
}
