* {
    font-family: 'Oxygen', sans-serif;
}

/* Nav Bar */

.navbar ul li a {
    font-size: 16px;
}
.othersite {
    padding-left: 15px;
}

/* Part 1 */

.part1 {
    background-image: url(../img/scacchiera_inferiore.jpg);
    background-repeat: no-repeat; 
    height: 400px;
    margin-top: 120px;
    text-align: center;
}
.part1 h1 {
    color: black;
    font-size: 90px;
    font-family: 'Niconne';
    padding-bottom: 180px;
}

/* Part 2 */

.part2 h6 {
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
}
.part2 p {
    font-size: 16px;
}
.part2 .box {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

/* Part 3 */

.part3 {
    background-color: lightblue;
    padding-top: 180px;
}
.part3 h2 {
    color: black;
    font-size: 60px;
    font-weight: 100;
    padding: 20px 0 5px 0;
}
.part3 .top {
    color: black;
    font-size: 16px;
    padding-bottom: 5px;
}
.part3 .card {
    width: 22em;
    height: 37em;
    margin: 3em;
}
.part3 img {
    height: 310px;
}
.part3 .card h5 {
    font-size: 20px;
}
.part3 .card h6 {
    font-size: 14px;
    font-weight: 100;
}
.part3 .card p {
    font-size: 16px;
}
.part3 .card-link:hover {
    opacity: 0.5;
}
.part3 .fa-facebook-f {
    color: #3B60B8;
    font-size: 20px;
}
.part3 .fa-linkedin {
    color: #009EFA;
    font-size: 20px;
}
.part3 .fa-amazon {
    color: black;
    font-size: 20px;
}

/* Part 4 */

.fa-chess {
    font-size: 70px;
}
.fa-chess-queen {
    font-size: 70px;
}
.part4 .btn {
    padding: 10px 15px;
}
.btn:hover {
    background-color: darkgray;
    color: white;
}
.part4 h5 {
    font-weight: 600;
}
.part4 p {
   font-weight: 200;
}
.part4 {
    padding: 50px;
}

/* Part 5 */

.part5 h2 {
    color: black;
    font-size: 60px;
    font-weight: 100;
    padding: 20px 0 5px 0;
}
.part5 .top {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 25px;
}
.part5 img {
    height: 150px;
}
.part5 h6 {
    font-weight: 100;
    font-style: italic;
}
.part5 a {
    color: black;
    margin: 0 5px 0 5px; 
    padding: 3px 15px 3px 15px;
    text-decoration: none;
}
.part5 a:hover {
    color: mediumaquamarine;
    text-transform: uppercase;
}
.part5 button {
    background-color: transparent;
    color: black;
    font-weight: 600;
    padding: 15px 20px;
    margin: 30px;
}
.part5 button:hover {
    background-color: gray;
}

/* Part 6 */



/* Part 7 */

.part7 {
    height: 500px;
}
.part7 h2 {
    color:black;
    font-size: 45px;
    font-weight: 100;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px 0 5px 0;
}
.part7 p {
    color: black;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 50px;
    margin-left: 50px;
}
.part7 h5 {
    color: black;
    margin-left: 50px;
    margin-top: 20px;
}
.part7 h6 {
    color: black;
    font-weight: 100;
    margin: 5px 0 5px 50px;
    padding: 5px;
}
form {
    margin-top: 100px;
}
.part7 input {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 16px;
}
#inputMessage {
    height: 80px;
}
.part7 button {
    background-color: transparent;
    color: black;
    font-weight: 600;
    padding: 15px 30px;
    margin: 20px;
}
.part7 button:hover {
    background-color: gray;
} 

/* Footer */

.footer {
    background-color: black;
    opacity: 0.8;
    padding: 20px;
}
.footer hr {
    color: black;
}
.footerlinks a {
    color: lightgray;
    padding: 5px 10px 0 10px;
    text-decoration: none;
}
.footerlinks a:hover {
    color: gray;
}
.copyright {
    margin: 20px;
}
.copyright h6 {
    color: white;
    font-size: 10px;
    font-weight: 200;
}
.copyright span {
    color: mediumaquamarine;
    font-size: 12px;
    font-weight: 600;
} 


/* Media Queries */

@media (max-width: 1100px) {
    .part2 h6 {
        font-weight: 700;
        font-size: 20px;
        padding: 10px;
    }
    .part2 p {
        font-size: 14px;
    }
    .part2 .box {
        background-color: white;
        border: 1px solid black;
        padding: 10px;
    }
    .part3 .card {
        width: 18em;
        height: 35em;
    }
}
@media (max-width: 1070px) {
    .part1 h1 {
        color: black;
        font-size: 80px;
        font-family: 'Niconne', cursive;
        padding-bottom: 160px;
    }
}
@media (max-width: 1030px) {
    .part2 h6 {
        font-weight: 700;
        font-size: 16px;
        padding: 5px;
    }
    .part2 p {
        font-size: 14px;
    }
    .part2 .box {
        background-color: white;
        border: 1px solid black;
        padding: 5px;
    }
    .part3 {
        background-color: lightblue;
        padding-top: 180px;
    }
    .part3 h2 {
        color: black;
        font-size: 45px;
        font-weight: 100;
        padding: 20px 0 5px 0;
    }
    .part3 .top {
        color: black;
        font-size: 14px;
        padding-bottom: 5px;
    }
}
@media (max-width: 930px) {
    .part1 h1 {
        font-size: 60px;
    }
    .part3 {
        padding-top: 135px;
    }
    .part3 .card {
        height: 30em;
        width: 15em;
    }
    .part3 img {
        height: 200px;
    }
}
@media (max-width: 767px) {
    .part2 .box {
        background-color: white;
        border: 1px solid black;
        margin-bottom: 10px;
        padding: 5px;
    }
}
@media (max-width: 750px) {
    .part3 h2 {
        color: black;
        font-size: 45px;
        font-weight: 100;
        padding: 120px 0 5px 0;
    }
    .part3 .card {
        height: 25em;
        margin: 1em;
        width: 15em;
    }
    .part3 img {
        height: 180px;
    }
    .part3 .card h5 {
        font-size: 16px;
    }
    .part3 .card h6 {
        font-size: 10px;
    }
    .part3 .card p {
        font-size: 12px;
    }
    .part5 .card {
        margin: 30px;
    }
    .part7 h2 {
        color: black;
        font-size: 30px;
        font-weight: 100;
        margin-left: 50px;
        margin-top: 50px;
        padding: 20px 0 5px 0;
    }
}
@media (max-width: 600px) {
    .part1 h1 {
        font-size: 30px;
    }
    .part2 h6 {
        font-size: 14px;
        font-weight: 600;
    }
    .part2 p {
        font-size: 12px;
        font-weight: 200;
    }
    .part3 {
        padding-top: 50px;
    }
    .part3 h2 {
        font-size: 30px;
    }
    .part3 .card {
        height: 21em;
        margin: 0.3em;
        width: 12em;
    }
    .part3 img {
        height: 140px;
    }
    .part3 .card h5 {
        font-size: 14px;
    }
    .part3 .card h6 {
        font-size: 8px;
    }
    .part3 .card p {
        font-size: 10px;
    }
    .part5 h2 {
        font-size: 30px;
    }
    .part5 .card {
        margin: 35px;
    }
    .part7 h2 {
        font-size: 30px;
    }
}
@media (max-width: 575px) {
    .part3 {
        padding-top: 50px;
    }
    .part7 {
        height: 900px;
    }
}
@media (max-width: 472px) {
    
    .part3 .card {
        height: 20em;
        margin: 0.4em;
        width: 9em;
    }
    .part3 img {
        height: 120px;
    }
    .part3 .card h5 {
        font-size: 12px;
    }
    .part3 .card h6 {
        font-size: 8px;
    }
    .part3 .card p {
        font-size: 8px;
    }
    .part3 .fa-facebook-f {
        color: #3B60B8;
        font-size: 16px;
    }
    .part3 .fa-linkedin {
        color: #009EFA;
        font-size: 16px;
    }
    .part3 .fa-amazon {
        color: black;
        font-size: 16px;
    }
}