* {
    font-family: 'Oxygen', sans-serif;
}

/* Nav Bar */

nav form {
    margin: 0;
    display: inline;
}
nav .form-group {
    color: black;
    margin: 0;
    width: 300px;
}
.navbar {
    background-color: lightblue;
    color: white;
}
.navbar ul li a {
    font-size: 18px;
    margin: 18px;
    padding: 5px;
}
.navbar ul li a:hover {
    font-size: 17px;
    text-transform: uppercase;
}
#othersite:hover {
    color: rgb(70, 99, 180);
}
.navbar-brand {
    font-size: 26px;
    margin: 6px;
}

/* Part 1 */

.part1 {
    background-image: url(../img/scacchiera_inferiore.jpg);
    background-repeat: no-repeat; 
    background-size: contain;
    height: 400px;
    margin-top: 120px;
    text-align: center;
    width: 100%;
}
.part1 h1 {
    color: black;
    font-size: 90px;
    font-family: 'Niconne';
    padding-bottom: 170px;
}

/* Part 2 */

.part2 h6 {
    font-weight: 700;
    font-size: 22px;
    padding: 10px;
}
.part2 p {
    font-size: 16px;
}
.part2 .box {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

/* Part 3 */

.part3 {
    background-color: lightblue;
    padding-top: 170px;
}
.part3 h2 {
    color: black;
    font-size: 60px;
    font-weight: 100;
    padding: 20px 0 5px 0;
}
.part3 .top {
    color: black;
    font-size: 16px;
    padding-bottom: 5px;
}
.part3 img {
    border: 5px ridge white;
    margin: 25px;
    width: 60%;
}
.img-info {
    padding: 70px;
}
.part3 hr {
    color: white;
    height: 25px;
    width: 70%;
}
.part3 h3 {
    font-weight: 900;
}
.part3 .card-link {
    font-size: 26px;
    padding: 10px;
}
.part3 .card-link:hover {
    opacity: 0.5;
}
.part3 .fa-facebook-f {
    color: #3B60B8;
    font-size: 20px;
}
.part3 .fa-twitter {
    color: #009EFA;
    font-size: 20px;
}
.part3 .fa-linkedin {
    color: #009EFA;
    font-size: 20px;
}
.part3 .fa-amazon {
    color: black;
    font-size: 20px;
}

/* Part 4 */

.fa-chess {
    font-size: 70px;
}
.fa-chess-queen {
    font-size: 70px;
}
.part4 .btn {
    border: 2px solid black;
    padding: 10px 15px;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}
.btn:hover {
    background-color: darkgray;
    color: white;
}
.part4 a {
    color: black;
    text-decoration: none;
}
.part4 a:hover {
    color: white;
}
.part4 h5 {
    font-size: 22px;
    font-weight: 700;
}
.part4 p {
    font-size: 18px;
    font-weight: 200;
}
.part4 {
    padding: 50px;
}

/* Part 5 */

.part5 h2 {
    color: black;
    font-size: 60px;
    font-weight: 100;
    padding: 20px 0 5px 0;
}
.part5 .top {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 25px;
}
.part5 h6 {
    font-weight: 100;
    font-style: italic;
}
.part5 h4 {
    font-size: 22px;
    padding: 5px;
}
.part5 p {
    padding: 5px;
}
.part5 a {
    border: none;
    color: black;
    font-size: 18px;
    margin: 5px; 
    padding: 3px 15px 3px 15px;
    text-decoration: none;
}
.part5 a:hover {
    background-color: transparent;
    color: rgb(70, 99, 180);
    text-transform: uppercase;
}
.part5 button {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 600;
    padding: 15px 20px;
    margin: 30px;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}
.part5 button:hover {
    background-color: gray;
}
#btn-a {
    color: black;
    text-decoration: none;
}
#btn-a:hover {
    color: white;
    text-transform: none;
}

/* Part 7 */

.part7 {
    height: 500px;
}
.part7 h2 {
    color:black;
    font-size: 45px;
    font-weight: 100;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px 0 5px 0;
}
.part7 p {
    color: black;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 50px;
    margin-left: 50px;
}
.part7 h5 {
    color: black;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 20px;
}
.part7 h6 {
    color: black;
    font-size: 16px;
    font-weight: 100;
    margin: 5px 0 5px 50px;
    padding: 5px;
}
form {
    margin-top: 100px;
}
.part7 input {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
}
#inputMessage {
    height: 80px;
}
.part7 button {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 600;
    padding: 15px 30px;
    margin: 20px;
}
.part7 button:hover {
    background-color: gray;
} 

/* Contact Form */

.contact-me-nested {
    height: auto;
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
  }
  .contact-me-nested input,
  .contact-me-nested textarea {
    display: block;
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
  }
  .contact-me-nested textarea {
    font-size: 14px;
    letter-spacing: 2px;
    resize: vertical;
    min-height: 100px;
  }
  .contact-me-nested button {
      display: block;
      margin: auto;
      background-color: transparent;
      border: 2px solid black;
      outline:none;
      text-decoration: none;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 3px;
      -moz-transition: all .4s linear;
      -o-transition: all .4s linear;
      -webkit-transition: all .4s linear;
      transition: all .4s linear;
  }
    .contact-me-nested button:hover{
      background-color:gray;
      color:#fff;
  }
  .contact-me-nested .form-filed-container{
      padding:20px 0 40px;
      position:relative;
  }
.contact-me-nested .form-filed-container [class^="error"]{
      position:absolute;
      top:5px;
      text-transform:uppercase;
      font-size:10px;
      letter-spacing:4px;
      display:none;
  }
  .success{
      width:100%;
      position:relative;
      background-color:#e8e8e8;
      color:#222222;
      font-size:40px;
      display:none;
  }
  .success h4 {
      width:100%;
      text-align: center;
      padding: 20px;
      font-size: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
  }
  .success h4 span{
      display:inline-block;
  }
  

/* Footer */

.footer {
    background-color: black;
    opacity: 0.8;
    margin-top: 40px;
    padding: 20px;
}
.footer-home {
    background-color: black;
    opacity: 0.8;
    margin-top: 40px;
    padding: 20px;
}
.footer, 
.footer-home hr {
    color: black;
}
.footerlinks a {
    color: lightgray;
    padding: 5px 10px 0 10px;
    text-decoration: none;
}
.footerlinks a:hover {
    color: gray;
}
.copyright {
    margin: 20px;
}
.copyright h6 {
    color: white;
    font-size: 12px;
    font-weight: 200;
}
.copyright span {
    color: rgb(70, 99, 180);
    font-size: 13px;
    font-weight: 600;
}



/* Media Queries */

@media (max-width: 1199px) {
    .othersite {
        padding: 30px 0;
    }
    .part1 h1 {
        font-size: 80px;
        padding-bottom: 140px;
    }
}
@media (max-width: 1185px) {
    .navbar ul li a {
        font-size: 16px;
        margin: 15px;
        padding: 5px;
    }
    .navbar ul li a:hover {
        font-size: 15px;
        text-transform: uppercase;
    }
    nav form {
        display: none;
    }
}
@media (max-width: 1100px) {
    .part2 h6 {
        font-weight: 700;
        font-size: 20px;
        padding: 10px;
    }
    .part2 p {
        font-size: 14px;
    }
    .part2 .box {
        background-color: white;
        border: 1px solid black;
        padding: 10px;
    }
    .part3 .card {
        width: 18em;
        height: 35em;
    }
}
@media (max-width: 1070px) {
    .part1 h1 {
        font-size: 80px;
        padding-bottom: 160px;
    }
    .part3 {
        padding-top: 100px;
    }
}
@media (max-width: 1030px) {
    .part1 h1 {
        font-size: 80px;
        padding-bottom: 140px;
    }
    .part2 h6 {
        font-weight: 700;
        font-size: 16px;
        padding: 5px;
    }
    .part2 p {
        font-size: 14px;
    }
    .part2 .box {
        background-color: white;
        border: 1px solid black;
        padding: 5px;
    }
    .part3 {
        padding-top: 75px;
    }
    .part3 h2 {
        color: black;
        font-size: 45px;
        font-weight: 100;
        padding: 20px 0 5px 0;
    }
    .part3 .top {
        color: black;
        font-size: 14px;
        padding-bottom: 5px;
    }
}
@media (max-width: 945px) {
    nav form {
        display: none;
    }
}
@media (max-width: 930px) {
    .part1 h1 {
        font-size: 70px;
    }
    .part3 {
        padding-top: 60px;
    }
}
@media (max-width: 795px) {
    .navbar ul li a {
        font-size: 16px;
        margin: 12px;
        padding: 5px;
    }
    .navbar ul li a:hover {
        font-size: 15px;
        text-transform: uppercase;
    }
    .navbar-brand {
        font-size: 26px;
        margin: 4px;
    }
}
@media (max-width: 791px) {
        .part1 h1 {
            padding-bottom: 60px;
        }
}
@media (max-width: 767px) {
    nav form {
        display: inline;
    }
    nav .form-group {
        width: 300px;
    }
    .part1 h1 {
        font-size: 60px;
    }
    .part2 .box {
        background-color: white;
        border: 1px solid black;
        margin-bottom: 10px;
        padding: 5px;
        width: 80%;
    }
    .part3 {
        padding-top: 140px;
    }
    .footer-home {
        margin-top: 400px;
    }
}
@media (max-width: 750px) {
    .part3 {
        padding-top: 70px;
    }
    .part3 h2 {
        color: black;
        font-size: 45px;
        font-weight: 100;
        padding: 120px 0 5px 0;
    }
    .part5 .card {
        margin: 30px;
    }
    .part7 h2 {
        color: black;
        font-size: 30px;
        font-weight: 100;
        margin-left: 50px;
        margin-top: 50px;
        padding: 20px 0 5px 0;
    }
}
@media (max-width: 683px) {
    .part1 h1 {
        padding-bottom: 30px;
    }
    .part3 {
        padding-top: 100px;
    }
}
@media (max-width: 600px) {
    .part1 h1 {
        font-size: 32px;
        padding-bottom: 70px;
    }
    .part2 h6 {
        font-size: 14px;
        font-weight: 600;
    }
    .part2 p {
        font-size: 12px;
        font-weight: 200;
    }
    .part3 {
        padding-top: 10px;
    }
    .part3 h2 {
        font-size: 30px;
    }
    .part5 h2 {
        font-size: 30px;
    }
    .part5 .card {
        margin: 35px;
    }
    .part7 h2 {
        font-size: 30px;
    }
}
@media (max-width: 575px) {
    .part3 {
        padding-top: 10px;
    }
    .img-info {
        padding: 5px;
    }
    .part7 {
        height: 900px;
    }
    .footer-home {
        margin-top: 20px;
    }
}
@media (max-width: 472px) {
    .part1 h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }
    .part3 {
        padding-top: 40px;
    }
    .part3 .fa-facebook-f {
        color: #3B60B8;
        font-size: 16px;
    }
    .part3 .fa-linkedin {
        color: #009EFA;
        font-size: 16px;
    }
    .part3 .fa-amazon {
        color: black;
        font-size: 16px;
    }
}